/* inspired by https://github.com/cjbassi/config/blob/master/.config/waybar/style.css */

* {
	font-size: 20px;
	font-family: "MesloLGS NF";
}

window#waybar {
	background: #1e1e1e;
	color: #e5e5e5;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #000000;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #1e1e1e;
	background: #000000;
}

#workspaces,
#workspaces button:hover,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
/*#battery,*/
#tray {
	background: #000000;
}

#workspaces button {
	padding: 0 2px;
	color: #e5e5e5;
}
#workspaces button.active {
	color: #2472c8;
}

#pulseaudio {
	color: #2472c8;
}
#memory {
	color: #0dbc79;
}
#cpu {
	color: #11a8cd;
}
/* #battery {
	color: #859900;
} */

#clock,
#pulseaudio,
#memory,
#cpu/*,
#battery*/ {
	padding: 0 10px;
}
